@media only screen and (max-width: 1130px) {
    .nav-list {
        flex-direction: column;
    }

    .navbar {
        flex-direction: column;
        height: 430px;
        transition: all 0.5s ease-out;

    }

    .rightnav {
        text-align: center;
    }

    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }

    #search {
        width: 100%;
    }

    .burger {
        display: block;
    }

    .h-nav-resp {
        height: 62px;
        /*to hide the navbar*/
    }

    .v-class-resp {
        opacity: 0;
        /*content in the navbar will not be visible until it click on hamburger when media query fired.*/
    }

    .section{
        flex-direction: column-reverse;
    }

    .text-small{
        text-align: center;
        font-size: 19px;
    }

    .text-big{
        text-align: center;
        
    }

    .buttons{
        text-align: center;
    }
    
    .paras{
        padding: 0px;
    }

    .secondhalf{
        width: 23%;
    }
    .secondhalf img {
        width: 100%;
    }

}